body {
  background-image: url("afbeeldingen/achtergrond.png");
  background-size: cover;
  height: 110%;
  margin: 25px auto;
  font-family: 'DK Lemon Yellow Sun';
}

@font-face {
    font-family: 'DK Lemon Yellow Sun';
    src: url(DK Lemon Yellow Sun.otf);
}


a.bottom {
  background-image: url("afbeeldingen/top.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  padding: 4px;
  text-decoration: none;
  display: block;
}

header {
  background: rgba(255,255,255,0.0);
  margin-top: -30px;
  height: 50px;
  padding-top: 40px;
}

a {
  text-decoration: none;
  font-family: 'DK Lemon Yellow Sun';
  color: black;
  font-weight: bold;
}

.home {
  width: 50px;
  height: 50px;
  background-image: url(afbeeldingen/menu/home.png);
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
}

.envelop{
  width: 50px;
  height: 50px;
  background-image: url(afbeeldingen/menu/enveloppe.png);
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
}

.wiel {
  width: 50px;
  height: 50px;
  background-image: url(afbeeldingen/menu/wiel.png);
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
}

.route {
  width: 50px;
  height: 50px;
  background-image: url(afbeeldingen/menu/route.png);
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
}

.logo {
  width: 30%;
  margin-left: 34%;
  margin-top: 12%;
  opacity: 1;
}

li {
  color:rgba(0,0,0,0.5);
  font-family: 'DK-Lemon-Yellow-Sun';
  font-size: 2em;
  font-weight: bold;
  padding: 10px 1px;
  float: left;
  margin-top: 1%;
  margin-left: 16%;
  text-decoration: none;
   -webkit-transition: transform 1s;
  transition: transform 1s;
}

li:hover:nth-child(1) {
transform: scale(1.5);
}
li:hover:nth-child(2) {
  transform: rotate(540deg);
}
li:hover:nth-child(3) {
  animation-name: schok;
  animation-duration: 1s;
  animation-delay: none;
}
li:hover:nth-child(4) {
  animation-name: updown;
  animation-duration: 1s;
  animation-delay: none;
}

/* KEY FRAMES MENU */

@keyframes schok {
   0% {
    transform: scale(none);
    transform: rotate(0deg);
  }
  20% {
   transform: scale(none);
   transform: rotate(35deg);
 }
  40% {
    transform: scale(1.30);
    transform: rotate(-35deg);
  }
  60% {
    transform: scale(0);
    transform: rotate(35deg);
  }
  80% {
    transform: scale(0);
    transform: rotate(-35deg);
  }
  100% {
    transform: scale(0);
    transform: rotate(10deg);
  }
}

@keyframes updown {
   0% {
    transform: translateY(7px);
  }
  20% {
    transform: translateY(-7px);

 }
  40% {
    transform: translateY(7px);

  }
  60% {
    transform: translateY(-7px);

  }
  80% {
    transform: translateY(7px);

  }
  100% {
    transform: translateY(-7px);

  }
}

h1{
  font
  font-size: 2em;
  text-align: center;
  margin-top: -37% ;
  text-transform: uppercase;
  font-family: 'brain flower';
  font-size: 4em;
  font-weight: 600

}

.over{
  height: 200px auto;
  margin-top: 60%;
  text-align: center;
  padding: 20px;
  background-image: url("afbeeldingen/Naamkaartje achterkant-meertrans.png");
  background-size: 100%;
}


.opening{
  background-color: white;
  height: 200px auto;
  margin-top: 15%;
  text-align: center;
  padding: 20px;
  background-image: url("afbeeldingen/Naamkaartje achterkant-meertrans.png");
  background-size: 100%;
}


.product{
  background-color: white;
  height: auto;
  margin-top: 15%;
  text-align: center;
  padding: 20px;
  background-image: url("afbeeldingen/Naamkaartje achterkant-meertrans.png");
  background-size: 90%;
}

.wegbeschrijving{
  background-color: white;
  height: 200px auto;
  margin-top: 15%;
  text-align: center;
  padding: 20px;
  background-image: url("afbeeldingen/Naamkaartje achterkant-meertrans.png");
  background-size: 100%;
}

.contact{
  background-color: white;
  height:auto;
  margin-top: 24%;
  text-align: center;
  padding: 20px;
  background-image: url("afbeeldingen/Naamkaartje achterkant-meertrans.png");
  background-size: 100%;

}

h2{
  text-transform: uppercase;
  font-size: 3em;
  padding-top: 2%;
  font-family: 'DK Lemon Yellow Sun';
  font-weight: bold;
}

p{
  font-size: 1.3em;
  font-weight: normal;
  width: 45%;
  line-height: 2;
  margin-left: 29%;
  margin-top: 1%;
  margin-bottom: 1%;
}

h3 {
  font-family: 'DK Lemon Yellow Sun';
  color: black;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 0.6;
}

.streepcontact {
  margin-top: 20px;
  width: 80px;
}

.streepopening {
  margin-top: 20px;
  width: 80px;
}

.streepover {
  margin-top: 20px;
  width: 90px;
}

.streepproduct {
  margin-top: 20px;
  width: 100px;
}

.streepweg {
  margin-top: 20px;
  width: 150px;
}

.afbwegbeschr img{

}

iframe{
  padding: 40px;
  margin-top: -30px;
}

img#afbwegbeschr{
  width: 50%;
}
form {
    background-color: rgba(255,255,255,0.25);
    border: 1px solid white;
    width: 260px;
    margin: -20px auto;
    padding: 45px;
    border-radius: 6px;

}

input[type="text"]{
  font-family: 'DK Lemon Yellow Sun';
    font-size: 0.7em;
    width: 242px;
    color: gray;
    padding: 10px;
    padding-left: 5px;
    border-radius: 6px;
    margin-top: 20px;
    background-color: rgba(255,255,255,0.7);
    border: 3px solid #99d0c0;
    transition: 0.6s;
}

textarea[type="text"] {
  font-family: 'DK Lemon Yellow Sun';
  font-size: 0.7em;
  width: 242px;
  color: gray;
  padding: 10px;
  padding-left: 5px;
  border-radius: 6px;
  margin-top: 20px;
  background-color: rgba(255,255,255,0.7);
  border: 3px solid #99d0c0;
  transition: height .50s ease-in-out;
  line-height: normal;
}

input[type="text"]:focus{
  border: 3px solid #EA5622;
}

textarea[type="text"]:focus{
  border: 3px solid #EA5622;
}

input[type="submit"]  {
  font-family: 'DK Lemon Yellow Sun';
    text-transform: uppercase;
    font-size: 1em;
    width: 260px;
    color: white;
    padding: 8px 5px;
    margin: 20px 0 0 0;
    display: block;
    border-radius: 6px;
    border: 3px solid #99d0c0;
    background-color: #99d0c0;
    transition: 0.2s;

}
input[type="submit"]:focus {
  border: 3px solid #EA5622;
  background-color: #EA5622;
  color: white;
}

/* Afbeelding carouselle */

img#tandwiel{
  width: 110%;
  height: 110%;
  margin: 0% -10%;
}

/* FOTO SLIDER */

.slider-container {
  width: 30%;
  margin: -20% 36.5%;
  margin-bottom: 10%;
  margin-top: -41.5%;
}

#slider-img {
  width: 100%;
  height: auto;

}

/* FOOTER

.onderkant {
  width: 100%;
  height: 100px;
  background-image: url(afbeeldingen/Naamkaartjeachterkant-footer.png);
  background-size: contain;
  z-index: 203;
  margin-top: 0px;
  padding-top:
  list-style-type: none;
}

.envelop-wit{
width: 40px;
height: 40px;
background-image: url(afbeeldingen/menu/envelop.png);
background-size: contain;
background-repeat: no-repeat;
float: left;
text-decoration: none;
}

.telefoon-wit{
width: 40px;
height: 40px;
background-image: url(afbeeldingen/menu/telefoon.png);
background-size: contain;
background-repeat: no-repeat;
float: left;
}

.facebook-wit {
width: 40px;
height: 40px;
background-image: url(afbeeldingen/menu/facebook.png);
background-size: contain;
background-repeat: no-repeat;
float: left;
}

.home-wit {
width: 40px;
height: 40px;
background-image: url(afbeeldingen/menu/home.png);
background-size: contain;
background-repeat: no-repeat;
float: left;
}

*/

form{

}
/* RESPONSIVE */

@media screen and (max-width: 1200px) {

li {
  color:rgba(0,0,0,0.5);
  padding: 10px 10px;
  float: left;
  margin-top: 2%;
  margin-left: 15%;
  text-decoration: none;
  transition: transform 1s;
}

}
@media screen and (max-width: 1000px) {

li {
  color:rgba(0,0,0,0.5);
  padding: 10px 1px;
  font-size: 0.9em;
  float: left;
  margin-top: 2%;
  margin-left: 15%;
  text-decoration: none;
  transition: transform 1s;
}
h1 {
  color: black;
  font-size: 2.8em;
}

}
@media screen and (max-width: 800px) {

li {
  color:rgba(0,0,0,0.5);
  padding: 10px 2px;
  font-size: 0.8em;
  float: left;
  margin-top: 2%;
  margin-left: 14%;
  text-decoration: none;
  transition: transform 1s;
}
h1 {
  color: black;
  font-size: 2em;
}

@media screen and (max-width: 600px) {

li {
  color:rgba(0,0,0,0.5);
  padding: 10px 2px;
  font-size: 0.8em;
  float: left;
  margin-top: 2%;
  margin-left: 10%;
  text-decoration: none;
  transition: transform 1s;
}
h1 {
  color: black;
  font-size: 2em;
}
p {
  font-size: 0.8em;
}
a.bottom{
  width: 20px;
  height: 20px;

}
}
